* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight:bold;
}

/* #instructions {
    font-weight:bold;
} */

#timer {
    font-size: larger;
}

#score {
    font-size: larger;
}

#options button {
    height: 100px;
    width: 200px;
}

/* #name, #initials, form button {
    height: 36px;
    width: 183px;
}

form textarea {
    margin-top: 20px
} */

ul {
    text-align: center;
    list-style-position: inside;
}

button a {
    text-decoration: none;
}