* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
}


#timer, #score, #instructions {
    font-size: larger;
}


#options button {
    height: 100px;
    width: 200px;
}

ul {
    text-align: center;
    list-style-position: inside;
}

button a {
    text-decoration: none;
}